@keyframes mymove {
    from {top:0px;}
    to {top:300px;}
}

p {
    text-align:center;
    padding-top:1.25cm;
    width:100px;
    height:100px;
    background-color:silver;
    color:aquamarine;
    position:relative;
    animation:mymove 5s infinite;
}