* {box-sizing: border-box;}

body   {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:lemonchiffon;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color:black;
    color:darkorchid;
    padding:16px 20px;
    border:none;
    cursor:pointer;
    opacity:0.8;
    position:fixed;
    bottom:23px;
    right:28px;
    width:280px;
}

/* Add styles to the form container */
.form-container {
    max-width:300px;
    padding:10px;
    background-color:rgba(0,0,0,0.5);
}

/* Full-Width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width:100%;
    padding:15px;
    margin:5px 0 22px 0;
    border:none;
    background:ivory;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color:ivory;
    outline:none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color:purple;
    color:ivory;
    font-weight:800;
    padding:16px 20px;
    border:none;
    cursor:pointer;
    width:100%;
    margin-bottom:10px;
    opacity:0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color:gold;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity:1;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid lemonchiffon;
    z-index: 9;
  }



  html {
    scroll-behavior:smooth;
}

#wut1 {
    height:800px;
    background-color:crimson;
}

#wut2 {
    height:800px;
    background-color:orange;
}

#wut3 {
    height:800px;
    background-color:green;
}