* {
    box-sizing:border-box;
}

.BlueBird {
    padding:25px;
    transition:transform .2s;
    width:500px;
    height:500px;
    margin:0 auto;
}

.BlueBird:hover {
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

p   {
    padding-top:1.2in;
}