html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    scroll-behavior:smooth;
}

body {
    max-width:500px;
    margin:0 auto;
    padding-top:9.65%;
}

input {
    padding-top:42px;
    width:500px;
    height:60px;
    font-size:40px;
    border:0;
}

input:focus {
    outline:none;
}

li {
    text-align:left;
    font-size:40px;
    list-style:none;
    margin:0;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:red;
    color:white;
    text-align:center;
    opacity:0.7;
}

footer.sticky {
    position:sticky;
    top:0;
}

#wut1 {
    height:800px;
    background-color:rgb(41, 188, 233);
}

#wut2 {
    height:800px;
    background-color:aqua;
}

#wut3 {
    height:800px;
    background-color:darkturquoise;
}

.remove {
    padding-bottom:5px;
}